.header__img {
	margin-left: 16px;
}

#responsive-navbar-nav > div > a {
	color: white;
	margin: auto 8px;
}

.dropdown-item.active {
	color: #212529 !important;
	background-color: transparent !important;
}

#responsive-navbar-nav > div > div {
	margin: auto 8px;
}

.dropdown-menu .dropdown-item {
	padding: 0 16px;
	font-size: 14px;
}