.header__img {
	margin-left: 16px;
}

#responsive-navbar-nav > div > a {
	margin: auto 8px;
}

.dropdown-item.active {
	color: #212529 !important;
	background-color: transparent !important;
}
.dropdown-item:hover {
	background-color: #f8f9fa !important;
}
.dropdown-item:active {
	background-color: #090 !important;
}

#responsive-navbar-nav > div > div {
	margin: auto 8px;
}

.dropdown-menu .dropdown-item {
	padding: 0 16px;
	font-size: 14px;
}

.c-btn__logout {
	margin-right: 8px;
	line-height: 1 !important;
	padding-bottom: 12px !important;

	@media only screen and (min-width: 320px) and (max-width: 767px) {
		padding: 0 !important;
		padding-bottom: 6px !important;
		font-size: inherit !important;
		margin-left: 7px;
	}
}
