.online-booking {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 90px;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__title {
		margin: 6px auto 20px;
		text-align: center;
    }

    svg {
	    vertical-align: baseline !important;
    }
}


#onlineBookingForm {
	max-width: 830px;
}

div.jodit_workplace > div.jodit_wysiwyg {
	min-height: 200px !important;
}

div.jodit_statusbar {
	display: none;
}
