.online-booking {
	width: 850px;
	margin: 0 auto;
	padding-top: 90px;

	&__title {
		margin: 30px auto;
		text-align: center;
	}
}

#root div > form > div:nth-child(1) > div {
	padding-top: 7px;
}

#root > div > div > form > div:nth-child(2) > div {
	padding-top: 7px;
}

#root > div > div > form > div:nth-child(2) > div > div > div.jodit_workplace > div.jodit_wysiwyg {
	min-height: 200px !important;
}

#root > div > div > form > div:nth-child(2) > div > div > div.jodit_statusbar {
	display: none;
}

#root > div > div > form > div:nth-child(3) > div {
	padding-top: 13px;
}

#root > div > div > form > div:nth-child(4) > div > button.btn.btn-primary {
	background-color: #006fbf;
	border-color: #cdd5dc;
	color: #fff;
	padding: 0.5rem 1.5rem;
	border-radius: 0.3rem;
	box-shadow: 0 0 0 4px transparent;
	transition: box-shadow 0.2s;
	font-weight: 600;

	&:hover {
		background-color: #005694;
		border-color: #005694;
	}
}

#root > div > div > form > div:nth-child(4) > div > button.btn.btn-outline-secondary {
	margin-left: 16px;
	background-color: #f9fbff;
	color: #494c4e;
	border-color: #cdd5dc;
	padding: 0.5rem 1.5rem;
	border-radius: 0.3rem;
	box-shadow: 0 0 0 4px transparent;
	transition: box-shadow 0.2s;
	font-weight: 600;

	&:hover {
		background-color: #cdd5dc;
	}
}