.online-booking {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 90px;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media only screen and (min-width: 320px) and (max-width: 768px) {
		padding: 50px 20px;
	}

	&__title {
		margin: 6px auto 20px;
		text-align: center;
	}

	svg {
		vertical-align: baseline !important;
	}

	.ant-btn {
		margin: 16px 30px 0 0;
	}
}

.l-download {
	display: flex;
	justify-content: space-between;
	margin: 8px 0;

	svg {
		vertical-align: baseline;
	}

	p {
		margin-bottom: 0;
	}



}

#onlineBookingForm {
	margin: 0 auto;
	width: 100%;

	@media only screen and (min-width: 320px) and (max-width: 767px) {
		& > div:nth-child(5) > div {
			margin-left: 0;
		}
	}
}

div.jodit_workplace > div.jodit_wysiwyg {
	min-height: 200px !important;
}

div.jodit_statusbar {
	display: none;
}
