.admin__btn{
	font-size: 18px;
	height: 36px;
}
.l-admin-container {
	background-color: white;
	margin-top: 20px;
	min-height: 100vh;
}
.c-tabbar {
	border-bottom: 1px solid lightgrey;
	&__menu {
		display: flex;
		padding-left: 10px;
		list-style-type: none;
		margin-bottom: 8px;
	}
	&__item {
		margin-left: 8px;
	}
	&__link {
		background-color: lightgrey;
		font-weight: 700;
		color: black;
		padding: 8px 8px;
		border: 1px solid lightgrey;
		position: relative;
		font-size: 16px;
		box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.11),
			2px -2px 2px rgba(0, 0, 0, 0.11), 4px -4px 4px rgba(0, 0, 0, 0.05),
			8px -8px 8px rgba(0, 0, 0, 0.05),
			16px -16px 16px rgba(0, 0, 0, 0.05);

		@media only screen and (min-width: 320px) and (max-width: 767px) {
			padding: 4px 8px;
		}
		&--active {
			background-color: white;
			border-bottom: 0;
			&::after {
				content: '';
				display: block;
				position: absolute;
				height: 6px;
				width: 100%;
				background-color: #fff;
				left: 0;
				bottom: -5px;
				z-index: 1;
			}
		}
	}
}
.c-sidemenu {
	height: 100%;
	&__search {
		padding: 8px 10px;
		.anticon svg {
			vertical-align: middle;
		}

		@media only screen and (min-width: 320px) and (max-width: 767px) {
			padding: 6px 4px;
		}
	}
	&__content {
		height: 100vh;
		max-height: 100vh;
		overflow: hidden;
		&:hover {
			overflow-y: scroll;
			max-height: 100vh;
		}
	}
}
.c-table {
	background-color: #f4f4f4;
	width: 100%;
	padding: 16px 8px 24px;
	&__row {
		display: flex;

		@media only screen and (min-width: 320px) and (max-width: 767px) {
			flex-direction: column;
		}
	}
	&__column {
		margin: 4px 8px;
		display: flex;
		flex-direction: column;
		span {
			font-size: 20px;
			font-weight: 500;
			color: black;
		}
		.c-table__content-name {
			display: flex;
			a {
				margin-left: 16px;
				color: #090;
				&:hover {
					color: #0c0;
				}
			}
		}
	}
	&__content {
		background-color: white;
		padding: 2px 4px;
		margin-right: 10px;
		min-height: 26px;
		p {
			font-size: 18px;
			margin: 0;
		}
	}
}
.l-admin {
	&__content {
		border: 1px solid lightgrey;
		margin: 6px;
		min-height: 95vh;
		padding: 8px 16px 16px;
		.ant-btn-primary {
			background-color: #090;
			border-color: #090;
			&:hover {
				background-color: #0c0;
				border-color: #0c0;
			}
			&:active {
				background-color: #0c0;
				border-color: #0c0;
			}
			&:focus {
				background-color: #0c0;
				border-color: #0c0;
			}
		}
	}
	&__header {
		display: flex;
		justify-content: space-between;
		p{
			font-size: 20px !important;
		}

	}

	&__title {
		margin-bottom: 10px;
		color: rgba(0, 0, 0, 0.85);
		font-weight: bold;
		font-size: 18px;
		line-height: 1.5715;
		padding-left: 16px;

		@media only screen and (min-width: 320px) and (max-width: 767px) {
			font-size: 16px;
		}
	}
	&__action {
		button {
			margin-left: 8px;
			&:hover {
				color: #090;
				border-color: #090;
			}
			&:focus {
				color: #090;
				border-color: #090;
			}
		}
	}
	&__download {
		display: flex;
		justify-content: space-between;
		padding: 2px 2px 2px 0;
		svg {
			vertical-align: baseline;
		}

		@media only screen and (min-width: 320px) and (max-width: 767px) {
			display: block;
		}
		span {
			color: white;
			font-weight: 400;
		}
		a {
			background-color: #090;
			border: none;
			&:hover {
				background-color: #0c0;
			}
		}
	}
	&__comment {
		svg {
			vertical-align: baseline;
		}
		div>div{
			font-size: 18px !important;
		}
		div:nth-child(2) div ul div div div div span{
			font-size: 18px !important;
		}
	}
}

.flex {
	&-1 {
		flex: 1.2;
	}
	&-2 {
		flex: 2;
	}
}
.site-description-item-profile-wrapper {
	margin-bottom: 7px;
	color: rgba(0, 0, 0, 0.65);
	font-size: 14px;
	line-height: 1.5715;
}
[data-theme='compact'] .site-description-item-profile-wrapper {
	font-size: 12px;
	line-height: 1.66667;
}
.ant-drawer-body p.site-description-item-profile-p {
	display: block;
	margin-bottom: 16px;
	color: rgba(0, 0, 0, 0.85);
	font-size: 16px;
	line-height: 1.5715;
}
[data-theme='compact'] .ant-drawer-body p.site-description-item-profile-p {
	font-size: 14px;
	line-height: 1.66667;
}
.site-description-item-profile-p-label {
	display: inline-block;
	margin-right: 8px;
	color: rgba(0, 0, 0, 0.85);
}
// Cover default inline-css from antd.
.ant-drawer-content-wrapper {
	width: 500px !important;

	@media only screen and (min-width: 320px) and (max-width: 767px) {
		width: 100% !important;
	}
}