.l-login {
	padding-top: 10rem;
	display: flex;
	flex-direction: column;
	width: 368px;
	margin: 0 auto;

	@media only screen and (min-width: 320px) and (max-width: 767px) {
		padding-top: 6rem;
		width: 320px;
	}

	&__title {
		margin-bottom: 20px;
		text-align: center;
	}
	&__register {
		float: left;
	}

	.login-form {
		width: 100%;
	}
}

.b-form-container {
	display: flex;
	justify-content: center;
}

.login-form-forgot {
	float: right;
}

.ant-checkbox-wrapper {
	float: left;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
#normal_login button {
  width: 100%;
}

.ant-input-affix-wrapper {
	height: 41.5px;
}