.l-login {
	padding-top: 8rem;
	display: flex;
	flex-direction: column;
	width: 368px;
	margin: 0 auto;

	@media only screen and (min-width: 320px) and (max-width: 767px) {
		padding-top: 6rem;
		width: 320px;
	}

	&__title {
		margin-bottom: 20px;
		text-align: center;
	}
	&__register {
		float: left;
	}
	.login-form {
		width: 100%;
	}
	.anticon svg {
		vertical-align: middle;
	}
	.login-form-button {
		width: 100%;
	}
	.b-form-container {
		display: flex;
		justify-content: center;
	}
	.ant-input-affix-wrapper {
		height: 41.5px;
	}
}
.site-form-item-icon {
    color: rgba(0, 0, 0, 0.25) !important;
}

#normal_login > div:nth-child(3) > div > div > div {
	display: flex;
	justify-content: space-between;
}
.c-bubble {
	position: absolute;
	top: 50px;
	right: 50px;

	@media only screen and (min-width: 320px) and (max-width: 767px) {
		top: 20px;
		right: 20px;
	}
	svg {
		width: 40px;
		height: 40px;
		&:hover {
			transition: transform 0.3s;
			transform: scale(1.4);
			cursor: pointer;
		}
	}
}
