.c-timepicker {
	height: 100%;
	margin: 0 auto;
	text-align: center;
	align-self: center;
	display: flex;
	flex-direction: column;
	border: 1px solid transparent;
	border-radius: 8px;

	&__btn {
		font-size: 16px;
		padding: 5px 14px;
		background-color: white;
		border: 1px solid transparent;

		&:hover {
			background-color: rgba(228, 227, 227, 0.835);
		}

		&:focus {
			background-color: #006edc;
			color: white;
		}
	}
}

.isDisabled {
	color: currentColor;
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: none;
}

.react-calendar__tile:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
